on:
  push:
    branches:
      - main
      - stable
      - 'bug**'
      - 'feature**'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-2
          role-to-assume: arn:aws:iam::721945215539:role/github-actions-medusa-client
          role-session-name: GithubActionsMedusaDiffSession
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/medusa-diff/Dockerfile-test
          tags: medusa-diff-test
          platforms: linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Run the tests
        run: |
          docker compose up --build --exit-code-from medusa-diff